<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Utils app</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="static/style/to_all/normalize.css" rel="stylesheet">
    <link href="static/style/to_all/global.css" rel="stylesheet">
    <link href="static/style/to_all/tailwind.css" rel="stylesheet">
  </head>
  <body>
    <header>Utils app</header>
    {% block content %}
      Only for root
    {% endblock %}
  </body>
</html>

